Repository LogicWolfe/ulysses-link: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy-fix, lock-check

fmt:
  run: cargo fmt
  stage_fixed: true

clippy-fix:
  run: cargo clippy --fix --allow-dirty --allow-staged -- -D warnings
  stage_fixed: true

lock-check:
  run: cargo check --locked 2>&1 || { echo "Cargo.lock is out of sync with Cargo.toml. Run 'cargo check' to update it."; exit 1; }

Remove dead code in service module for Linux CI
  src/service.rs
Due: fmt, clippy-fix

Fix git tag step failing in container CI
  .github/workflows/publish.yml
Due: none

Replace jq with sed for version check in publish workflow
  .github/workflows/publish.yml
Due: none

Add output arg to sync and make sync non-destructive
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/linker.rs
  src/main.rs
  src/scanner.rs
  src/watcher.rs
Due: fmt, clippy-fix, lock-check

Update README for new output arg and tone
  README.md
Due: none

Add config file format reference to README
  README.md
Due: none

Grant write permission for git tag push in publish workflow
  .github/workflows/publish.yml
Due: none

Add periodic rescan to engine for eventual consistency
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/engine.rs
  src/service.rs
  ulysses-link.toml.example
Due: fmt, clippy-fix, lock-check

Replace symlinks with bidirectional copy-based sync
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  src/config.rs
  src/engine.rs
  src/lib.rs
  src/linker.rs
  src/main.rs
  src/manifest.rs
  src/scanner.rs
  src/watcher.rs
  tests/integration.rs
  ulysses-link.toml.example
Due: fmt, clippy-fix, lock-check

Bump version to 0.9.3
  Cargo.lock
  Cargo.toml
Due: lock-check

Watch config file for changes and move output_dir on rename
  Cargo.lock
  Cargo.toml
  README.md
  src/config.rs
  src/engine.rs
  src/linker.rs
  src/watcher.rs
Due: fmt, clippy-fix, lock-check

Add per-repo output_dir, path canonicalization, and single config location
  Cargo.lock
  Cargo.toml
  README.md
  src/config.rs
  src/engine.rs
  src/main.rs
  src/manifest.rs
  src/scanner.rs
  tests/integration.rs
  ulysses-link.toml.example
Due: fmt, clippy-fix, lock-check

Handle atomic writes in mirror watcher and add logs command
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/service.rs
  src/watcher.rs
Due: fmt, clippy-fix, lock-check

Add auto-upgrade, upgrade subcommand, and e2e watcher tests
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/engine.rs
  src/lib.rs
  src/main.rs
  src/service.rs
  src/upgrade.rs
  src/watcher.rs
  tests/e2e_watcher.rs
Due: fmt, clippy-fix, lock-check

Path conditions:
  fmt: any of: *.rs
  clippy-fix: any of: *.rs
  lock-check: any of: Cargo.toml
